@model Hotel

<div class="card">
    <div class="card-header">
        @Model.Name
    </div>
    <div class="card-body">
        <h5 class="card-title">Hotel have @Model.Stars stars</h5>
        <a href="#" class="btn btn-primary">Details</a>
    </div>
</div>