@model Room

<div class="card">
    <div class="card-body">
        <p class="card-text">Room number : @Model.RoomNumber</p>
        <p class="card-text">CheckIn : @Model.CheckIn</p>
        <p class="card-text">CheckOut : @Model.CheckOut</p>
        <a class="btn btn-primary">Book</a>
    </div>
</div>