
<form asp-action="Search" method="get">
    <div class="input-group">
        <input name="Country" type="search" class="form-control rounded" placeholder="Country" aria-label="Search" aria-describedby="search-addon" />
        <br />
        <input name="City" type="search" class="form-control rounded" placeholder="City" aria-label="Search" aria-describedby="search-addon" />
        <br />

        <input name="Hotel" type="search" class="form-control rounded" placeholder="Hotel" aria-label="Search" aria-describedby="search-addon" />
        <br />

        <input name="CheckIn" class="form-control" type="datetime-local" data-val="true" id="CheckIn" value="" />
        <br />

        <input name="CheckOut" class="form-control" type="datetime-local" data-val="true"  id="CheckOut" value="" />

        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>

</form>
