
<form asp-action="Search" method="get">
    <div class="input-group">
        <input name="CheckIn" class="form-control" type="datetime-local" data-val="true" id="CheckIn" value="" />
        <br />

        <input name="CheckOut" class="form-control" type="datetime-local" data-val="true"  id="CheckOut" value="" />

        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>

</form>
