

<form asp-action="Search" method="get">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Country" aria-label="Search" aria-describedby="search-addon" />
        <br />
        <input type="search" class="form-control rounded" placeholder="City" aria-label="Search" aria-describedby="search-addon" />
        <br />

        <input type="search" class="form-control rounded" placeholder="Hotel" aria-label="Search" aria-describedby="search-addon" />
        <br />

        <input class="form-control" type="datetime-local" data-val="true" id="CheckIn" name="CheckIn" value="" />
        <br />

        <input class="form-control" type="datetime-local" data-val="true"  id="CheckOut" name="CheckOut" value="" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>

</form>
